*~
/#*#
*.$$$
a.out
A.OUT
*.bak
*.BAK
*.cmd
*.CMD
*.com
*.COM
compile_commands.json
*.core
core
core-*
/cs8080.h
*.exe
*.EXE
log.pvs
/lzpack
/LZPACK
/mkstub
*.o
*.O
*.obj
*.OBJ
*.out
*.pak
*.PAK
*.pop
*.POP
/popcom
pvsreport
*.tmp
*.TMP
*.unp
