# Copyright (c) 2026 Jeffrey H. Johnson <johnsonjh.dev@gmail.com>
# SPDX-License-Identifier: MIT-0
# scspell-id: b43f8642-585c-11f1-937e-80ee73e9b8e7

################################################################################

*~
/#*#
*.$$$
a.out
A.OUT
azstub*
*.bak
*.BAK
/.cache/
*.cmd
*.CMD
*.com
*.COM
compile_commands.events.json
compile_commands.json
*.core
core
core-*
/cpm-8080/
/cpm-86/
/cpm-z80/
/cs8080.h
cschk.h
csmsg.h
/csr8080.h
/csrz80.h
/csz80.h
/djgpp
/djgpp/
/elks/
*.exe
*.EXE
/GPATH
/GRTAGS
/GTAGS
log.pvs
/lzpack
/LZPACK
*.map
*.MAP
/mkstub
/msdos
/msdos/
/NOTES.md
/NOTES.TXT
*.o
*.O
*.obj
*.OBJ
/os2/
*.out
*.pak
*.PAK
*.pop
*.POP
/popcom
pvsreport
*.PVS-Studio.cfg
*.PVS-Studio.i
__pycache__/
/README.wip
strpack
/stubasm
/*.t
/tags
/TAGS
.t.c
.test.c
*.tmp
*.TMP
*.unittest
*.unp
*.UNP
/windows/

################################################################################

# keep the test programs in-repo
!tests/corpus/
!tests/corpus/*.com

################################################################################

# binary releases
!bindist/
!bindist/*.ARC
!bindist/*.ZIP
!bindist/*.Z

################################################################################

# bundled utilities
!.utils/
!.utils/*.cmd
!.utils/*.com

################################################################################
